<div ng-controller="HomeController as home" class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">SAL</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="home">Home</a>
            <a ng-if="home.userSignedIn()" class="nav-link" href="/#!/dashboard">Dashboard</a>
            <a ng-if="!home.userSignedIn()" class="nav-link" href="/#!/login">Login</a>
            <a ng-if="home.userSignedIn()" class="nav-link" href="/#!/logout">Log out</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">{{home.userSignedIn()}}</h1>
        <h1 class="cover-heading">Shut-up And Listen!</h1>
        <p class="lead">A simple JavaScript plugin to collect user feedback on your web applications.</p>
        <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>&copy; <a href="http://beautifulcode.in">BeautifulCode</a> 2016.</p>
        </div>
      </div>

    </div>

  </div>

</div>
